body{
    background-color:white;
    padding: 100px;
    font-family: 'Times New Roman', Times, serif;
}

.main{
    background-color:rgb(46, 80, 81) ;
    padding: 20px;
    max-width: 1000px;
    border-radius: 15px;
}

#firsttext{
    color:darkgoldenrod;
}

#affertext{
    color: white;
}

p{
    color: white;
}

input{
    width: 200px;
    height: 40px;
    border-radius: 5px;
}

button{
    background-color: yellow;
    width: 200px;
    height: 50px;
    border-radius: 5px;
}